// colours
$dark-primary-color: #1976d2;
$light-primary-color: #bbdefb;
$primary-color: #2196f3;
$text-and-icons: #ffffff;
$accent-color: #607d8b;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

$bool: #ffa000;
$code: #eeeeee;
$const: #ffa000;
$comment: #757575;
$function: #2196f3;
$int: #ffa000;
$keyword: #673ab7;
$object: #ffa000;
$operator: #757575;
$punctuation: #757575;
$string: #4caf50;
$variable: #ff5252;

// styles
$border: 1px solid $divider-color;

/* body styles */
body { margin: 0; }

/* grid styles */
.grid {
    display: grid;
    grid-template-columns: 300px auto;
}

#main-doc {
    grid-column-start: 2;
    min-width: 0;
}

#navbar {
    position: fixed;
    width: 300px;
}

#main-doc, #navbar {
    box-sizing: border-box;
    height: 100%;
    margin: auto;
    padding: 30px;
}

// font families
body { font-family: "Open Sans", sans-serif; }
h1, h2, h3, h4, h5 { font-family: 'Roboto', sans-serif; }
code { font-family: monospace; }

// font-sizes
body { font-size: 1.5em; }
h1 { font-size: 1.1em; }
h2 { font-size: 2em; }
.nav-link { font-size: 0.7em; }

// font colors
body { color: $primary-text; }
h1 { color: $secondary-text; }
h2 { color: $accent-color; }
a { color: $dark-primary-color; }
a:hover { color: $primary-color; }

/* font styles */
h1 {
    border-bottom: $border;
    margin-bottom: 30px; 
    padding-bottom: 30px; 
    padding-top: 30px; 
}
.nav-link { text-decoration: none; }


// general styles
hr { border-bottom: $border; }

section { 
    border-bottom: $border; 
    margin-bottom: 60px; 
    padding-bottom: 40px; 
}

section:last-child { 
    border-bottom: none; 
    margin-bottom: 0; 
    padding-bottom: 0; 
}

// navbar styles
#navbar { background: $primary-text; }
#navbar ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
#navbar li { list-style: none; }

// main doc styles
#main-doc li { padding-bottom: 1.5em; }
#main-doc li:last-child { padding-bottom: 0; }

// code styles
code {
    background: $code;
    border: $border;
    display: block;
    margin-bottom: 30px;
    padding: 20px 20px 20px 0;
}

code div { white-space: pre; }

.bool { color: $bool; }
.comment { color: $comment; }
.const { color: $const; }
.function { color: $function; }
.int { color: $int; }
.keyword { color: $keyword; }
.object { color: $object; }
.operator { color: $operator; }
.punctuation { color: $punctuation; }
.string { color: $string; }
.variable { color: $variable; }

code {
    counter-reset: line;

    div {
        display: block;
        line-height: 1.5rem;

        &:before {
            border-right: $border;
            color: $secondary-text;
            counter-increment: line;
            content: counter(line);
            display: inline-block;
            margin-right: 1em;
            padding: 0 1em 0 0.5em;
            text-align: right;
            width: 1.5em;
        }
    }
}

.no-count { padding-left: 40px; }
.no-count:before { content: none; }