html, body { 
    box-sizing: border-box; 
    height: 100%;
    margin: 0;
}

body {
    background: #ffeead;
    display: flex;
}

.container {
    display: grid;
    grid-gap: 3px;
    justify-content: center;
    grid-template-areas: nav main;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

body { font-size: 1.5em; }
h1 { font-size: 1.5em; }
h2 { font-size: 2em; }

h1 {
    border-bottom: 1px solid black;
    margin-bottom: 17px;
    padding-bottom: 17px;
}

p {
    line-height: 1.2em;
    margin-bottom: 30px;
}

li { line-height: 1.2em; }

h2, ul {
    margin-bottom: 30px;
}

h2 {
    margin-top: 60px;
}

#introduction h2 {
    margin-top: 0!important;
}


#navbar {
    border-right: 1px solid black;
    grid-area: nav;
    height: 100%;
    padding: 42px 10px;
    position: fixed;
}

#main-doc {
    grid-area: main;
    padding: 30px;
}

.nav-link {
    text-decoration: none;
}